Package: com.thatmarcel.tweaks.crunchyrold
Name: Crunchyrold
Version: 1.0.2
Architecture: iphoneos-arm
Description: Make Crunchyroll work on iOS 14 again
Maintainer: thatmarcel
Author: thatmarcel
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
